@purple: #8E869B;
@light-purple: #B1B8D4;
@dark-purple: #55404F;
@light-blue: #D5F1FD;
@black: #070208;
@brand-primary:        	@dark-purple;
@brand-success:         @light-blue;
@brand-info:            @purple;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.


